@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.outer-bg-container {
    background-color: #95b2ff;
    padding: 20px;
    height: 100vh;
    overflow: auto;
}

.inner-bg-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;

}

.blog {
    color: #12022f;
    text-align: center;
    font-family: "roboto";
}

.heading {
    color: #12022f;
    font-family: "roboto";
    text-align: center;
}

.card1 {
    align-items: flex-start;
    padding: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-image: url(https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-marketing-strategies-sm-bg.png);
}

.card2 {
    align-items: flex-start;
    padding: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-image: url(https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-coffee-bg.png);
}

.card3 {
    align-items: flex-start;
    padding: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-image: url(https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-fruits-bg.png);
}

.card4 {
    align-items: flex-start;
    padding: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-image: url(https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-laptop-sm-bg.png);
}

.card5 {
    align-items: flex-start;
    padding: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-image: url(https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-nature-bg.png);
}

.card6 {
    align-items: flex-start;
    padding: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-image: url(https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-interior-bg.png);
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width:768px) {
    .card1 {
        width: 100%;
        background-image: url(https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-marketing-strategies-lg-bg.png);
    }


    .card2 {
        width: 49%;
    }

    .card3 {
        width: 49%;
    }

    .card4 {
        width: 100%;
        background-image: url(https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-laptop-lg-bg.png);
    }

    .card5 {
        width: 49%;
    }

    .card6 {
        width: 49%;
    }

}

@media (min-width:1200px) {
    .card1 {
        width: 49%;
    }

    .card2 {
        width: 24%;
    }

    .card3 {
        width: 24%;
    }

    .card4 {
        order: 1;
        width: 49%;
    }

    .card5 {
        width: 24%;
    }

    .card6 {
        width: 24%;
    }
}

@media (min-width:992px) {
    .heading {
        text-align: left;
    }

    .blog {
        text-align: left;
    }
}

button {
    background-color: transparent;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    border-width: 1px;

}



* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}